<div class="product-description widget">
  <div class="description-info description-section">
    <h5 class="description-title">PRODUCT DESCRIPTION</h5>
    <p class="info-article">{{product.description_1}}</p>
    <p class="info-article">{{product.description_2}}</p>
  </div>
  <div class="description-section">
    <h5 class="description-title">PRODUCT CODE</h5>
    <div>{{product.code}}</div>
  </div>
  <div class="description-section">
    <h5 class="description-title">SHARE</h5>
    <div>
      Share photo with a tag <a href="#">#{{product.hashtag}}</a>
      <ul class="description-social">
        <li>
          <a class="social-link facebook-link" href="#">
            <i class="fa fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a class="social-link instagram-link" href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a class="social-link twitter-link" href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="description-section">
    <h5 class="description-title">TECHNOLOGY</h5>
    <ul class="description-list">
      <li *ngFor="let t of product.technology">{{t}}</li>
    </ul>
  </div>
  <div class="description-section">
    <h5 class="description-title">RATING & REVIEWS</h5>
    <div class="reviews">
      <rating [rating]="product.rating"></rating>
      32 Reviews
      <a href="#">Read all</a>
    </div>
  </div>
</div>
<div class="product-description product-description-mobile">
  <div class="card panel">
    <div class="card-header panel-header" role="button" (click)="toggleAccordion(0)">
      <div class="mb-0">
        <a class="accordion-toggle" role="button">
          PRODUCT DESCRIPTION
          <i class="fa fa-angle-down fa-2x" [ngClass]="{'expanded': accordion[0]}"></i>
        </a>
      </div>
    </div>
    <div [collapse]="!accordion[0]" class="panel-body card-body description-info">
      <p class="info-article">{{product.description_1}}</p>
      <p class="info-article">{{product.description_2}}</p>
    </div>
  </div>
  <div class="card panel">
    <div class="card-header panel-header" role="button" (click)="toggleAccordion(1)">
      <div class="mb-0">
        <a class="accordion-toggle" role="button">
          PRODUCT CODE
          <i class="fa fa-angle-down fa-2x" [ngClass]="{'expanded': accordion[1]}"></i>
        </a>
      </div>
    </div>
    <div [collapse]="!accordion[1]" class="panel-body card-body description-info">
      <div>{{product.code}}</div>
    </div>
  </div>
  <div class="card panel">
    <div class="card-header panel-header" role="button" (click)="toggleAccordion(2)">
      <div class="mb-0">
        <a class="accordion-toggle" role="button">
          SHARE
          <i class="fa fa-angle-down fa-2x" [ngClass]="{'expanded': accordion[2]}"></i>
        </a>
      </div>
    </div>
    <div [collapse]="!accordion[2]" class="panel-body card-body description-info">
      <div>
      Share photo with a tag <a href="#">#{{product.hashtag}}</a>
      <ul class="description-social">
        <li>
          <a class="social-link facebook-link" href="#">
            <i class="fa fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a class="social-link instagram-link" href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a class="social-link twitter-link" href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
    </div>
  </div>
  <div class="card panel">
    <div class="card-header panel-header" role="button" (click)="toggleAccordion(3)">
      <div class="mb-0">
        <a class="accordion-toggle" role="button">
          TECHNOLOGY
          <i class="fa fa-angle-down fa-2x" [ngClass]="{'expanded': accordion[3]}"></i>
        </a>
      </div>
    </div>
    <div [collapse]="!accordion[3]" class="panel-body card-body description-info">
      <ul class="description-list">
      <li *ngFor="let t of product.technology">{{t}}</li>
    </ul>
    </div>
  </div>
  <div class="card panel">
    <div class="card-header panel-header" role="button" (click)="toggleAccordion(4)">
      <div class="mb-0">
        <a class="accordion-toggle" role="button">
          RATING & REVIEWS
          <i class="fa fa-angle-down fa-2x" [ngClass]="{'expanded': accordion[4]}"></i>
        </a>
      </div>
    </div>
    <div [collapse]="!accordion[4]" class="panel-body card-body description-info">
      <div class="reviews">
      <rating [rating]="product.rating"></rating>
      32 Reviews
      <a href="#">Read all</a>
    </div>
    </div>
  </div>
</div>
