<div
  ng2-carouselamos
  [width]="1280"
  [items]="products"
  [$item]="itemTemplate"
  [$prev]="prevTemplate"
  [$next]="nextTemplate"
></div>

<ng-template #prevTemplate>
  <button class="carousel-btn carousel-btn-left">
    <i class="fa fa-angle-left fa-2x"></i>
  </button>
</ng-template>

<ng-template #nextTemplate>
  <button class="carousel-btn carousel-btn-right">
    <i class="fa fa-angle-right fa-2x"></i>
  </button>
</ng-template>

<ng-template let-product #itemTemplate>
  <div class="product-card col-md-3 col-6">
    <div class="card-photo" (click)="router.navigate(['/app/ecommerce/product/' + product.id])" [ngStyle]="{'background-image': 'url(' + product.img + ')'}">
      <div *ngIf="getLabel(product)" class="badge" [ngClass]="getLabel(product) === 'Sale' ? 'badge-danger' : 'badge-success'">{{getLabel(product)}}</div>
      <a role="button" class="star" (click)="toggleSliderProductStarred(product)">
        <i class="fa" [ngClass]="product.starred ? 'fa-star' : 'fa-star-o'"></i>
      </a>
    </div>
    <h5 class="card-title">{{product.title}}</h5>
    <div class="card-description">{{product.subtitle}}</div>
    <div class="price" *ngIf="!product.discount">
      ${{product.price}}
    </div>
    <div class="price price-sale" *ngIf="product.discount">
      <span class="old">${{product.price}}</span>
      {{product.discount}}% off
      <span class="new"> ${{newPrice(product)}}</span>
    </div>
  </div>
</ng-template>
